@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/Windesheim-HBO-ICT/cs_studenten/blob/main/Aftekenopdrachten/memory-opdracht/memory-opdracht.md" target="_blank">Memory-Opdracht</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
